/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,400;0,500;0,800;0,900;1,500&family=Bodoni+Moda:wght@700&display=swap");

/* variables */
:root {
	--primary: rgb(208, 108, 79);
	--primary50: rgba(208, 108, 79, 0.5);
	--secondary: rgb(25, 56, 61);
	--secondary50: rgba(25, 56, 61, 0.5);
	--accent: rgb(191, 162, 70);
	--accent50: rgba(191, 162, 70, 0.5);
	--accent2: rgb(234, 229, 199);
	--accent250: rgba(234, 229, 199, 0.5);
	--gray100: rgb(242, 248, 246);
	--gray300: rgb(206, 215, 212);
	--gray500: rgb(129, 139, 136);
	--gray700: rgb(86, 95, 92);
	--gray900: rgb(32, 38, 36);
}

/* fonts settings */
h1 {
	font-size: 64px;
	font-weight: 200;
	color: var(--secondary);
}
h2 {
	font-size: 52.5px;
	font-weight: 900;
	line-height: 80px;
	color: var(--secondary);
}
h3 {
	font-size: 32px;
	font-weight: 500;
	font-style: italic;
	line-height: 50px;
	color: var(--secondary);
}
p {
	font-size: 20px;
	font-weight: 400;
	/* color/line height changes  */
}

/* button settings */
button {
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--accent2);
	background-color: var(--secondary);
	border: 3px solid var(--accent2);
	border-radius: 5px;
	/* border-color: var(--accent2);
	border-width: 3px;
	 */
	/* top right bottom left  */
	padding: 5px 12px;
	transition: background-color 0.5s;
}

button:hover {
	background-color: var(--accent2);
	color: var(--secondary);
	border-color: var(--secondary);
}

/* document settings */
body {
	font-family: "Archivo", sans-serif;
	background-color: var(--gray100);
}
.container {
	width: 1440px;
	margin: 0 auto;
}
/* navigation */
.navigation {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3em;
	/* top right bottom left  */
}

nav {
	padding-left: 5em;
}
nav li {
	list-style-type: none;
	justify-content: center;
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	margin: 30px;
}
nav a {
	color: var(--gray900);
	text-decoration: none;
}
nav ul {
	display: flex;
}
/* name title */
.hero {
	position: relative;
	background: url(img/better-hero-img.jpg);
	height: 75vh;
	background-size: cover;
	background-position: center;
}
.hero-title {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.hero-title img {
	height: 100%;
}
.hero-img {
	background-image: cover;
}
/* nav boxes */
.hero-boxes {
	position: relative;
}
.box1 {
	background-color: var(--primary50);
	width: 332px;
	height: 240px;
	position: absolute;
	left: 440px;
	top: 158px;
}
.box2 {
	background-color: var(--accent50);
	width: 204px;
	height: 220px;
	position: absolute;
	left: 740px;
	top: 390px;
}
.box3 {
	background-color: var(--accent250);
	width: 633px;
	height: 290px;
	position: absolute;
	right: 30px;
	bottom: 50px;
}
.hero-subtitle {
	text-align: right;
	/* top right bottom left  */
	padding: 5em 1.5em 1.5em 0;
}
/* road to fame section */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	display: block;
}

.road-to-fame {
	width: 1152px;
	margin: 0 auto;
}

.road-to-fame > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section1 {
	background-color: var(--accent250);
	height: 386px;
}
.section2 {
	background-color: var(--primary50);
	height: 346px;
}
.section3 {
	background-color: var(--secondary50);
	height: 506px;
}
.section4 {
	background-color: var(--accent50);
	height: 386px;
}
.info1 {
	justify-content: left;
	line-height: 2em;
	gap: 0em;
	padding: 2em;
}
.info2 {
	justify-content: left;
	line-height: 2em;
	gap: 0em;
	padding: 2em;
}
.info3 {
	justify-content: left;
	line-height: 2em;
	gap: 0em;
	padding: 2em;
}
.info4 {
	justify-content: left;
	line-height: 2em;
	gap: 0em;
	padding: 2em;
}

/* music section */
.pic-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6em;
	position: relative;
	margin: 5em 0;
}
.music-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.music-pic::before {
	content: "";
	display: block;
	z-index: -1;
	width: 250px;
	height: 250px;
	background: var(--primary50);
	position: absolute;
	top: -25px;
	left: -25px;
}

/* .music-pic::after {
	content: "";
	display: block;
	z-index: -1;
	width: 250px;
	height: 250px;
	background: var(--accent250);
	position: absolute;
	bottom: -25px;
	right: -25px;
} */

.music-info {
	position: relative;
	width: 25%;
	gap: 17px;
}

.music-info h3 {
	line-height: 35px;
}

.music-info p {
	line-height: 30px;
}

/* .gold-box {
	width: 250px;
	height: 250px;
	background: gold;
	position: absolute;
	top: -15px;
	right: 150px;
} */

/* chopin-section */
.info-part {
	display: flex;
	justify-content: center;
	margin: 6em;
	gap: 4em;
}

.last-info p {
	line-height: 40px;
	color: var(--gray700);
	padding-top: 2.5em;
}

/* footer */
.footer {
	background-color: var(--secondary);
	height: 336px;
	/* top right bottom left  */
	padding: 4em 6em;
	display: flex;
}

.site-map p {
	line-height: 70px;
	color: var(--gray100);
}

.contact-info {
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 0 20em;
}

.contact-info p {
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
	color: var(--gray100);
}
.icons {
	display: flex;
	gap: 4em;
}

/* form within footer */
form p {
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
	color: var(--gray100);
}
